<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Full stack CRUD Web Application with Spring Boot, PostgreSQL and VueJS</title>
  <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/products.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="products.css"/>
  <link rel="stylesheet" href="https://unpkg.com/ckd-css/dist/ckd.css" />
</head>
<body>
<div class="container">
  <div class=ex1><h1 style="font-family: 'Open Sans',serif; font-size: 40px">Product Manager</h1>
  </div>
  <main id="app">
    <router-view></router-view>
  </main>
</div>

<template id="product">
  <div class="customSet">
    <section class="customHeader" id="sec">
      <h2>View</h2>
      <ul>
        <li>
          <span class="fa fa-code"></span>
          <p><h2>{{ product.name }}</h2>
          <b>Description: </b>
          <div >{{ product.description }}</div>
          <b>Place Storage:</b>
          <div>{{ product.place_storage }}</div>
          <b>Date:</b>
          <div>{{ product.create_date }}</div>
          <b>Price:</b>
          <div>{{ product.price }}</div>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          <br/>
          <a>
            <div class="customSet"><router-link to="/">Back to product list</router-link></div>
          </a></p>
        </li>
  </div>
</template>

<template id="product-list">
  <div>
    <div class="actions">
      <a class="btn btn-default">
        <router-link :to="{path: '/add-product'}">
          <span class="glyphicon glyphicon-plus"></span>
          Add product
        </router-link>
      </a>
    </div>
    <div class="filters row">
      <div class="form-group col-sm-3">
        <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" required />
      </div>

    </div>
    <table class="table table-striped" style="font-family: 'Open Sans',serif; font-size: 20px">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Place Storage</th>
        <th>Date</th>
        <th>Price</th>
        <th>Reserved</th >
        <th class="col-sm-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="product in filteredProducts">
<!--         tr v-for="product in products" -->
<!--         tr v-for="product in products | filterBy searchKey in 'name'" -->
        <td>
          <a>
            <router-link :to="{name: 'product', params: {product_id: product.id}}">{{ product.name }}</router-link>
          </a>
        </td>
        <td>{{ product.description }}</td>
        <td>{{ product.place_storage }}</td>
        <td>{{ product.create_date }}</td>
        <td>
          {{ product.price }}
          <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
        </td>
        <td>
          <label class="mycheckbox">
            <input class="mycheckbox__default" type="checkbox">
            <span class="mycheckbox__new"></span>
            <span class="mycheckbox__descr"></span>
          </label>
        </td>
        <td>
          <a class="btn btn-success btn-group-lg">
          <div class="textcolor"><router-link :to="{name: 'product-edit', params: {product_id: product.id}}">Edit</router-link></div>
          </a>
          <a class="btn btn-danger btn-group-lg" >
           <div class="textcolor"> <router-link :to="{name: 'product-delete', params: {product_id: product.id}}">Delete</router-link></div>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>


<template id="add-product" >
  <div style="font-family: 'Open Sans',serif; font-size: 18px">
    <h2>Add new product</h2>
    <hr class="my-4">
    <form @submit="createProduct">
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Name</span>
        <label for="add-name"></label>
        <input class="form-field" type="text"  id="add-name" v-model="product.name" required/>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Description</span>
        <label for="add-description"></label>
        <textarea class="form-field"  type="text" id="add-description" rows="10" v-model="product.description"></textarea>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Place Storage</span>
        <label for="add-place_storage"></label>
        <textarea class="form-field"  type="text" id="add-place_storage" rows="1" v-model="product.place_storage" required></textarea>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Date</span>
        <label for="add-date"></label>
        <input type="datetime-local" class="form-field" id="add-date"  v-model="product.create_date" required/>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Price<span class="glyphicon glyphicon-euro"></span></span>
        <label for="add-price"></label>
        <input class="form-field" type="text"  id="add-price" v-model="product.price"/>
      </div>
      <hr class="my-4">
      <button style="font-family: 'Open Sans',serif; font-size: 20px" type="submit" class="btn btn-primary">Create</button>
      <a style="font-family: 'Open Sans',serif; font-size: 20px" class="btn btn-default">
        <router-link to="/">Cancel</router-link>
      </a>
    </form>
  </div>
</template>

<template id="product-edit">
  <div>
    <h2 style="font-family:'Open Sans',serif; font-size: 27px">Edit product</h2>
    <hr class="my-4">
    <form @submit="updateProduct">
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Name</span>
        <label for="edit-name"></label>
        <input class="form-field" type="text"  id="edit-name" v-model="product.name" required/>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Description</span>
        <label for="edit-description"></label>
        <textarea class="form-field"  type="text" id="edit-description" rows="10" v-model="product.description"></textarea>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Place Storage</span>
        <label for="edit-place_storage"></label>
        <textarea class="form-field"  type="text" id="edit-place_storage" rows="1" v-model="product.place_storage" required></textarea>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Date</span>
        <label for="edit-date"></label>
        <input type="datetime-local" class="form-field" id="edit-date" v-model="product.create_date" required/>
      </div>
      <div class="form-group">
        <span style="font-family: 'Open Sans',serif; font-size: 18px">Price<span class="glyphicon glyphicon-euro"></span></span>
        <label for="edit-price"></label>
        <input class="form-field" type="text"  id="edit-price" v-model="product.price"/>
      </div>
      <hr class="my-4">
      <button  style="font-family: 'Open Sans',serif; font-size: 20px" type="submit" class="btn btn-primary">Save</button>
      <a style="font-family: 'Open Sans',serif; font-size: 20px" class="btn btn-default">
        <router-link to="/">Cancel</router-link>
      </a>
    </form>
  </div>
</template>

<template id="product-delete">
  <div>
    <h2>Delete product {{ product.name }}</h2>
    <form @submit="deleteProduct">
      <p>The action cannot be undone.</p>
      <button type="submit" class="btn btn-danger">Delete</button>
      <a class="btn btn-default">
        <router-link to="/#/">Cancel</router-link>
      </a>
    </form>
  </div>
</template>


<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="/products.js"></script>

</body>
</html>