.actions {
    margin-bottom: 20px;
    margin-top: 20px;
}

.ex1
{padding:10px;width:300px;height:80px;margin:0 auto;text-align:center;position:relative}
.ex1 h1:after {content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background:rgb(81, 227, 213);
    top: 120%;
    margin: 0 auto;
    left: 0;
    right: 0;}
.ex1 h1:before {content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background:rgb(81, 227, 213);
    top: 105%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    margin: 0 auto;
    left: 0;
    right: 0;}


.mycheckbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
    margin-right: 40px;
}

.mycheckbox__default {
    display: none;
}

.mycheckbox__new {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid rgba(59, 50, 95, 0.1);
    border-radius: 7px;
    margin-right: 10px;
    position: relative;
    display: block;
    flex-shrink: 0;
}

.mycheckbox__new::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9.5L5 13L14.5 1.5' stroke='%233AB7F6' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.11s ease-in;
}

.mycheckbox__default:checked + .mycheckbox__new::after {
    height: 15px;
    width: 13px;
    border-radius: 50%;
}

.textcolor
a{
    color: whitesmoke;
    font-size: 1.2em;
}










:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
}
.form-field::-webkit-input-placeholder {
    color: var(--input-placeholder);
}
.form-field::-moz-placeholder {
    color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
    color: var(--input-placeholder);
}
.form-field::-ms-input-placeholder {
    color: var(--input-placeholder);
}
.form-field::placeholder {
    color: var(--input-placeholder);
}
.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: -webkit-box;
    display: flex;
    width: 100%;
}
.form-group > span,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
}
.form-group .form-field {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.form-group > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    -webkit-transition: background .3s ease, border .3s ease, color .3s ease;
    transition: background .3s ease, border .3s ease, color .3s ease;
}
.form-group:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

body .form-group {
    max-width: 360px;
}
body .form-group:not(:last-child) {
    margin-bottom: 32px;
}



































